<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Chat Widget</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="Chat">

    <div class="container clearfix" ng-controller="ChatController as chat">
        <div class="people-list" id="people-list">
            <div class="search">
                <input type="text" placeholder="search" />
                <i class="fa fa-search"></i>
            </div>
            <ul class="list">
                <li class="clearfix">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">test testikyan</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>

                <li class="clearfix">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">Zhorzh Zakaryan</div>
                        <div class="status">
                        <i class="fa fa-circle offline"></i> left 7 mins ago
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="chat">
            <div class="chat-header clearfix">
                <img ng-src="{{active_user.profile_pic}}" alt="avatar" style="width: 64px;"/>

                <div class="chat-about">

                    <div class="chat-with">Chat with {{active_user.first_name}} {{active_user.last_name}}</div>
                    <div class="chat-num-messages">
                        Total messages received: {{received_messages}} <br>
                        Total messages sent: {{sent_messages}} <br>
                    </div>
                </div>
                <i class="fa fa-star"></i>
            </div> <!-- end chat-header -->

            <div class="chat-history">
                <ul>
                    <li class="clearfix" ng-repeat="message in active_messages">

                        <div class="message-data align-right" ng-if="message.sender !== active_user.id">
                            <span class="message-data-time" >{{message.time}}, Today</span> &nbsp; &nbsp;
                            <span class="message-data-name" >Me</span> <i class="fa fa-circle me"></i>
                        </div>
                        <div class="message other-message float-right" ng-if="message.sender !== active_user.id">
                            {{message.text}}
                        </div>

                        <div class="message-data" ng-if="message.sender === active_user.id">
                            <span class="message-data-name"><i class="fa fa-circle online"></i>{{active_user.first_name}} {{ active_user.last_name}}</span>
                            <span class="message-data-time">{{message.time}}, Today</span>
                        </div>
                        <div class="message my-message" ng-if="message.sender === active_user.id">
                            {{message.text}}
                        </div>

                    </li>
                </ul>

            </div> <!-- end chat-history -->

            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3" ng-model="response" ng-keyup="$event.keyCode == 13 ? send_message(response) : false"></textarea>

                <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-file-image-o"></i>

                <button ng-click="send_message(response)">Send</button>

            </div> <!-- end chat-message -->

        </div> <!-- end chat -->


        <script id="message-template" type="text/x-handlebars-template">
            <li class="clearfix">
                <div class="message-data align-right">
                    <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
                    <span class="message-data-name" >Me</span> <i class="fa fa-circle me"></i>
                </div>
                <div class="message other-message float-right">
                  {{text}}
                </div>
            </li>
        </script>

        <script id="message-response-template" type="text/x-handlebars-template">
            <li>
                <div class="message-data">
                    <span class="message-data-name"><i class="fa fa-circle online"></i>{{active_user.first_name}} {{ active_user.last_name}}</span>
                    <span class="message-data-time">{{time}}, Today</span>
                </div>
                <div class="message my-message">
                    {{response}}
                </div>
            </li>
        </script>
    </div> <!-- end container -->

    <script src='lib/jquery.min.js'></script>
    <script src="lib/angular.min.js"></script>
    <script src='lib/handlebars.min.js'></script>
    <script src='lib/list.min.js'></script>
    <script src='lib/moment.min.js'></script>

    <script src="lib/socket.io.js"></script>
    <script  src="js/index.js"></script>

</body>

</html>
